## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
from pprint import pprint
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,1,Georgetown,MY,81.90,few clouds,5.4112,100.3354,Cititel Penang
1,2,Vila Franca Do Campo,PT,72.01,scattered clouds,37.7167,-25.4333,Pestana Bahia Praia
2,5,Rikitea,PF,74.37,few clouds,-23.1203,-134.9692,People ThankYou
3,9,Karambakkudi,IN,75.60,overcast clouds,10.4667,79.1333,Mathiyazhagan house
4,14,Nara,JP,72.68,overcast clouds,34.6851,135.8049,Guesthouse Nara Komachi

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# picked 4 cities in US: Palmer, Scranton, Bethel, Yarmouth
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Palmer']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Palmer']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Scranton']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Bethel'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Yarmouth'] 
vacation_start

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
108,274,Palmer,US,81.52,scattered clouds,42.1584,-72.3287,Wedgewood Motel

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
start = (start[0][5], start[0][6])
end = vacation_end.to_numpy()
end = (end[0][5], end[0][6])
stop1 = vacation_stop1.to_numpy()
stop1 = (stop1[0][5], stop1[0][6])
stop2 = vacation_stop2.to_numpy()
stop2 = (stop2[0][5], stop2[0][6])
stop3 = vacation_stop3.to_numpy()
stop3 = (stop3[0][5], stop3[0][6])
print(f"{start} {stop1} {stop2} {stop3}")

(42.1584, -72.3287) (41.409, -75.6624) (41.3712, -73.414) (41.7057, -70.2286)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
trip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='WALKING', stroke_color='red', stroke_weight=3.0, stroke_opacity=1.0)
fig.add_layer(trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3], ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,274,Palmer,US,81.52,scattered clouds,42.1584,-72.3287,Wedgewood Motel
1,244,Scranton,US,72.09,moderate rain,41.4090,-75.6624,Radisson Lackawanna Station Hotel Scranton
2,286,Bethel,US,79.65,broken clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
3,583,Yarmouth,US,81.45,overcast clouds,41.7057,-70.2286,Blue Rock Resort

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(42.0, -72.0), zoom_level=6)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
42.1584, -72.3287

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))